/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* .task{
  background-color: #282c34;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
  display: inline-block;
}

p{
  color: #61dafb;
  font-size: 16px;
  font-weight: bold;
}

greeting{
  color: #61dafb;
  font-size: 20px;
  font-weight: bold;
} */



/*
.calculator {
  width: 240px;
  margin: 50px auto;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: #b1b8c0;
}

.calculator input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  background: #ddd;
}
button:active {
  background: #bbb;
} */



/* .head{
  background-color: #282c34;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
  display: inline-block;
} */

/* .app{
  background-color: #282c34;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
  display: inline-block;
} */


